# Warning: table ip filter is managed by iptables-nft, do not touch!
table ip filter {
	chain INPUT {
		type filter hook input priority filter; policy accept;
		iifname "mpqemubr0" meta l4proto tcp tcp dport 53  counter accept
		iifname "mpqemubr0" meta l4proto udp udp dport 53  counter accept
		iifname "mpqemubr0" meta l4proto udp udp dport 67  counter accept
	}

	chain OUTPUT {
		type filter hook output priority filter; policy accept;
		oifname "mpqemubr0" meta l4proto tcp tcp sport 53  counter accept
		oifname "mpqemubr0" meta l4proto udp udp sport 53  counter accept
		oifname "mpqemubr0" meta l4proto udp udp sport 67  counter accept
	}

	chain FORWARD {
		type filter hook forward priority filter; policy accept;
		iifname "mpqemubr0" oifname "mpqemubr0"  counter accept
		iifname "mpqemubr0" ip saddr 10.5.57.0/24  counter accept
		oifname "mpqemubr0" ip daddr 10.5.57.0/24 ct state related,established  counter accept
		iifname "mpqemubr0"  counter reject
		oifname "mpqemubr0"  counter reject
	}
}
# Warning: table ip mangle is managed by iptables-nft, do not touch!
table ip mangle {
	chain POSTROUTING {
		type filter hook postrouting priority mangle; policy accept;
		oifname "mpqemubr0" meta l4proto udp udp dport 68  counter xt target "CHECKSUM"
	}
}
# Warning: table ip nat is managed by iptables-nft, do not touch!
table ip nat {
	chain POSTROUTING {
		type nat hook postrouting priority srcnat; policy accept;
		ip saddr 10.5.57.0/24 ip daddr != 10.5.57.0/24  counter masquerade
		meta l4proto udp ip saddr 10.5.57.0/24 ip daddr != 10.5.57.0/24  counter masquerade to :1024-65535
		meta l4proto tcp ip saddr 10.5.57.0/24 ip daddr != 10.5.57.0/24  counter masquerade to :1024-65535
		ip saddr 10.5.57.0/24 ip daddr 255.255.255.255  counter return
		ip saddr 10.5.57.0/24 ip daddr 224.0.0.0/24  counter return
	}
}
